
<ion-header>
  	<ion-navbar>
  			<ion-buttons start>
  		<button ion-button menuToggle>
  			<ion-icon name="menu"></ion-icon>
  		</button>
  	</ion-buttons>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <button class="floated button roundButton " ion-button (click)="hide()"><span>Memory</span></button>
      
      <div class="row" *ngIf="show">

          <button class="roundButton" ion-button (click)="hide1()">Understanding <br> Memory</button>
      
          <button class="roundButton" ion-button (click)="hide2()">Attention</button>      
         


             <div *ngIf="show1">

                <ion-slides pager = "true">
                  <ion-slide *ngFor="let slide of slider">
                    <img [src]="slide.image"/> 
                   <h2 [innerHTML]="slide.title"></h2>
                    <p [innerHTML]="slide.description"></p>
                  </ion-slide>
                </ion-slides>
              </div>  

              <div *ngIf="show2">

                <ion-slides pager = "true">
                  <ion-slide *ngFor="let slide of slider2">
                    <img [src]="slide.image"/> 
                   <h2 [innerHTML]="slide.title"></h2>
                    <p [innerHTML]="slide.description"></p>
                  </ion-slide>
                </ion-slides>
              </div>  

      </div>

</ion-content>
